body{
  background-color: #eeeef9;
}
.hr{
  width: 100%;
}
.searchDiv{
   text-align: center;
   margin: 10px 0px 50px 0px;
}
.moviesDiv{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
}
.ImageDiv{
  margin: auto;
  width: 80%;
  margin-top: 10%;
}
.ImgCard{
  width: 70%;
  height: 250px;
  border-radius: 5px;
  margin: 10px 0px 0px 30px;
}
.moviesCard{
   width: 300px;
   height: 400px;
   margin: 10px 10px 10px 10px;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.movieTitle{
  width: 250px;
  font-size: 20px;
  font-weight:500;
  margin: 20px 0px 10px 30px;
}
.movieYear{
  font-size: 12px;
  margin: 5px 0px 5px 15px;
}
.searchBar{
  outline: none;
  border: 2px solid #65647C;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.Btn{
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6D67E4;
}
.detailPage{
   text-align: center;
}
.table{
  margin: auto;
  width: 60%;
}